/* se coloca *(asterisco) para indicar que le dé formato a toda la página */
*{
    padding:0;
    margin:0;
    /* para ver el borde de todos los elementos, asi se vé la estructura, se quita al final */
     /* border:solid 1px #000  */

}
body{
    background-color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* +++++++++  header +++++++++ */
header{
    background-image: url(../img/bradcam.png);
    /* no-repeat:para que no repita img */
    background-repeat: no-repeat;
    /*background-size es para que se vea la imagen en toda la página se le da valor en el eje x eje y */
    background-size: 100% 100%;
    /*height es para que el fondo de pantalla se redimensione, al cambiar el tamaño, de manera automatica se usa: vh (viewport, height)*/
    height: 100vh;
    /* color: para cambiar color de texto */
    color:white ;
}
/* se puede escribir #menu o así: */
#main-container header #menu{
    /* espacio en los 4 lados, pero si quisiera darle otra medida a los laterales colocaria: padding:50px;(up,down) 0px */
    padding: 50px 0;
}

header #menu ul{
    margin: 0;
    padding: 0;
}

/* mejoras al menu (home,features) */
header #menu ul li{
    /* inline-block:muestra los elementos pero en una sola linea: ejm: applab home feature */
   display: inline-block;
   padding: 10px;
    /* sirve para alinear todo el contenido del menú*/
    vertical-align: middle;
}

/* para especificarle a los links el color, como aparecen en azul, lo cambiamos a blanco. */
header #menu ul li a{
    color:white;
    /* text-decoration es para quitarle el subrayado del texto */
    text-decoration: none;
}

/* hover es un atributo de estado para los enlaces (a), es decir el cursor se va a activar cuando pase por el mouse */
header #menu ul li a:hover{
    text-decoration:underline;
    color: yellow;
}

/* para cambiar la distancia del logotipo */
header #menu ul #logo{
    margin-right: 40%;
    margin-left: 100px;
}

/* ++++++++++++++  main  ++++++++++++ */

/* (2) modificado del main */
#main-container header main{
    /* margin 0 (arriba y abajo) auto (esto permite que el navegador calcule automaticamente la parte de los lados y la centre) */
    margin:0 auto;
    width: 1000px;
}

/* modifica el div (mi primera página) y lo centra en el medio */
#main-container header main div{
    display: inline-block;
    vertical-align: middle;
}

/* modifica el h1 con el tamaño de letra más grande */
#main-container header main .text h1{
    font-size: 60px;
}
/* modifica el p(parráfo)con el tamaño de letra más grande */
#main-container header main .text p{
    font-size: 20px;
    padding: 20px 0;
} 

button{
    background-color: #15aab5 ;
    border:1;
    border-radius: 3px;
    color: white;
    /* para que salga la mano al pasar el cursor por el botom: pointer */
    cursor: pointer;
    font-size: 24px;
    padding: 20px 25px;
    margin: 40px 0;
}
/* para cambiar el color al pasar el mouse */
button:hover{
    background-color: rgb(40, 37, 224);
}
/* para cambiar la dirección de la imagen */
#main-container header main .image{
    text-align: right;
    width: 500px;
}
/* +++++++++++++++++++++++++ */

/* darle margen y anchura a la sección nombrada layout */
.layout{
    width:1280px;
    margin:250px auto;
}
.layout div{
    display: inline-block;
    vertical-align: middle;
}
.layout h3{
    font-size: 48px;
    padding: 25px 0;
}
.layout p{
    padding: 25px 0 ;
    /* line-height: permite el interlineado (espacio entre lineas) */
    line-height: 32px;
}
.layout-left .text{
    width: 500px;
}
.layout-left .image{
    width: 770px;
    text-align: right;
}
.layout-right .text{
    width: 500px;
}
.layout-right .image{
    width: 770px;
    text-align: center;
}
footer{
    background-color: black;
    padding: 150px 20px;
    color: white;
    text-align: center;
}